* {
	box-sizing: border-box;
	font-family: system-ui;
	margin: 0;
	padding: 0;
}

:root {
	--red-100: #FFE7E5;
	--red-200: #FFBDAF;
	--red-300: #E65F5C;
	--red-400: #761111;
	--red-500: #282524;
	--green-100: #E8FFEE;
	--green-200: #36EFB1;
	--green-300: #32D789;
	--green-400: #03330A;
	--green-500: #242825;
	--blue-100: #E8F4FF;
	--blue-200: #6EE4FF;
	--blue-300: #41C0EC;
	--blue-400: #031F33;
	--blue-500: #242528;
	--grey-100: #72FFF9;
	--grey-200: #67E6E0;
	--grey-300: #387D7A;
	--grey-400: #173332;
	--grey-500: #242424;
	--gradient-angle: 45deg;
	--gradient-position: 50%;
	--gradient-scale: 1;
	--gradient-offset: 0;
	--gradient-intensity: 0.125;
	--gradient-falloff: 0.03125;
}

main {
	background-color: #260306;
	height: 100vh;
	width: 100vw;
}

canvas#webgl {
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
}

input[type="range"] {
	background-color: transparent;
	left: 32px;
	padding-bottom: 16px;
	padding-right: 16px;
	position: fixed;
	-webkit-appearance: none;
	width: calc(25vw - 64px);
	z-index: 3;
}

#rotateX {
	bottom: 192px;
}

#rotateY {
	bottom: 128px;
}

#rotateZ {
	bottom: 64px;
}

input[type="range"]::-webkit-slider-runnable-track {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 2px;
	height: 4px;
	width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
	background-color: white;
	border-radius: 50%;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.24), 0 0 8px 0 rgba(0,0,0,0.12);
	height: 32px;
	margin-top: -14px;
	-webkit-appearance: none;
	width: 32px;
}

input {
	display: none !important;
}