* {
	box-sizing: border-box;
	font-family: system-ui;
	margin: 0;
	padding: 0;
}

:root {
	--red-100: #FFE7E5;
	--red-200: #FFBDAF;
	--red-300: #E65F5C;
	--red-400: #761111;
	--red-500: #282524;
	--green-100: #E8FFEE;
	--green-200: #36EFB1;
	--green-300: #32D789;
	--green-400: #03330A;
	--green-500: #242825;
	--blue-100: #E8F4FF;
	--blue-200: #6EE4FF;
	--blue-300: #41C0EC;
	--blue-400: #031F33;
	--blue-500: #242528;
	--grey-100: #72FFF9;
	--grey-200: #67E6E0;
	--grey-300: #387D7A;
	--grey-400: #173332;
	--grey-500: #242424;
	--gradient-angle: 45deg;
	--gradient-position: 50%;
	--gradient-scale: 1;
	--gradient-offset: 0;
	--gradient-intensity: 0.125;
	--gradient-falloff: 0.03125;
}

main {
	background-color: var(--grey-400);
	//background-color: black;
	height: 100vh;
	width: 100vw;
}

canvas#webgl {
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 1;
}

.label {
	align-items: flex-start;
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	background-color: rgba(0, 0, 0, 0.5);
	border: 4px solid rgba(255, 255, 255, 0.25);
	border-radius: 16px;
	bottom: 200px;
	//bottom: 25%;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5), 0 8px 32px rgba(0, 0, 0, 0.25);
	cursor: move;
	display: flex;
	//display: none;
	//flex-direction: column;
	left: 480px;
	//left: 50%;
	padding: 16px 24px 16px 24px;
	position: fixed;
	//transform: translateY(calc(100% + 64px));
	z-index: 3;
}

.label-two {
	left: 1000px;
}

.label h3 {
	color: white;
	font-family: system-ui;
	font-size: 20px;
	font-weight: 700;
	position: relative;
	text-align: center;
}

input[type="range"] {
	background-color: transparent;
	padding-bottom: 0px;
	padding-right: 0;
	padding-top: 8px;
	-webkit-appearance: none;
	width: 100%;
}

.controls {
	align-items: flex-start;
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	background-color: rgba(127, 127, 127, 0.125);
	border: 4px solid rgba(255, 255, 255, 0.125);
	border-radius: 24px;
	bottom: 64px;
	//bottom: 25%;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5), 0 8px 32px rgba(0, 0, 0, 0.25);
	cursor: move;
	display: flex;
	//display: none;
	//flex-direction: column;
	left: 80px;
	//left: 50%;
	padding: 36px 32px 8px 32px;
	position: fixed;
	transform: translateY(calc(100% + 64px));
	z-index: 3;
}

.controls.active {
	//transform: translateY(0);
	transition: transform 1200ms cubic-bezier(0.25, 0.5, 0, 1);
}

.sliders {
	align-items: stretch;
	display: flex;
	flex-direction: column;
	width: 300px;
}

.sliders h3 {
	color: black;
	font-family: system-ui;
	font-size: 20px;
	font-weight: 700;
	//letter-spacing: 4px;
	margin-bottom: 24px;
	position: relative;
	text-align: center;
	//text-transform: uppercase;
}

.sliders h3:before {
	background-color: white;
	border-radius: 20px;
	content: '';
	display: block;
	height: 40px;
	left: 50%;
	opacity: 0.5;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 120px;
	z-index: -1;
}

.sliders .input {
	display: flex;
	margin-top: 14px;
}

.input label {
	background-color: rgba(0,0,0,0.5);
	border-radius: 50%;
	color: white;
	flex-shrink: 0;
	font-family: system-ui;
	font-weight: 600;
	height: 32px;
	line-height: 32px;
	margin-right: 16px;
	margin-top: -6px;
	text-align: center;
	width: 32px;
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 16px;
	margin-left: 64px;
	margin-right: 64px;
	position: relative;
}

.buttons:before {
	background-color: rgba(255, 255, 255, 0.25);
	content: '';
	display: block;
	height: calc(100% - 20px);
	left: -32px;
	position: absolute;
	top: 4px;
	width: 1px;
}

.buttons:after {
	background-color: rgba(255, 255, 255, 0.25);
	content: '';
	display: block;
	height: calc(100% - 20px);
	right: -32px;
	position: absolute;
	top: 4px;
	width: 1px;
}

.buttons h3 {
	color: black;
	font-family: system-ui;
	font-size: 20px;
	font-weight: 700;
	//letter-spacing: 4px;
	margin-bottom: 24px;
	position: relative;
	text-align: center;
	//text-transform: uppercase;
	width: 100%;
}

.buttons h3:before {
	background-color: white;
	border-radius: 20px;
	content: '';
	display: block;
	height: 40px;
	left: 50%;
	opacity: 0.5;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100px;
	z-index: -1;
}

button {
	background-color: rgba(63, 63, 63, 1);
	border: 2px solid rgba(255, 255, 255, 0);
	border-radius: 8px;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.25), 0 0 16px 0 rgba(0,0,0,0.125);
	color: white;
	cursor: pointer;
	font-family: system-ui, sans-serif;
	font-size: 16px;
	font-weight: 600;
	height: 48px;
	letter-spacing: 2px;
	margin-bottom: 10px;
	text-transform: uppercase;
	transition: background-color 200ms ease, border 200ms ease, box-shadow 200ms ease;
	-webkit-appearance: none;
	width: calc(100%);
}

button:hover {
	border: 2px solid rgba(255, 255, 255, 1);
}

button.active {
	background-color: rgba(31, 31, 31, 1);
	border: 2px solid rgba(255, 255, 255, 1);
	box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

input[type="range"]::-webkit-slider-runnable-track {
	background-color: rgba(192, 192, 192, 0.5);
	border-radius: 2px;
	height: 4px;
	margin-bottom: 32px;
	transition: background-color 200ms ease, box-shadow 200ms ease;
	width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
	background-color: rgba(63, 63, 63, 1);
	border-radius: 50%;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.25), 0 0 16px 0 rgba(0,0,0,0.125);
	cursor: pointer;
	height: 32px;
	margin-top: -14px;
	transition: background-color 200ms ease, border 200ms ease, box-shadow 200ms ease;
	-webkit-appearance: none;
	width: 32px;
}

input[type="range"]::-webkit-slider-thumb:hover {
	border: 2px solid rgba(255, 255, 255, 1);
}

input[type="range"].active::-webkit-slider-thumb {
	border: 2px solid rgba(255, 255, 255, 1);
	box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

input[type="range"]:active::-webkit-slider-thumb {
	background-color: rgba(31, 31, 31, 1);
	border: 2px solid rgba(255, 255, 255, 1);
	box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

input[type="range"]:active::-webkit-slider-runnable-track {
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0 0 4px rgba(255, 255, 255, 1);
}

input[type="range"].active::-webkit-slider-runnable-track {
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0 0 4px rgba(255, 255, 255, 1);
}